.place__trash-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: url(../../../images/trash.svg) center no-repeat;
  background-color: transparent;
  background-size: 18px 19px;
  object-fit: cover;
  width: 18px;
  height: 19px;
  transition: opacity 0.5s ease;
}

.place__trash-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
